@charset "UTF-8";

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 80px;
	color: white;
	text-align: center;
	opacity: 0.7;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
	opacity: 0.7;
}

.tabs {
	width: 400px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	opacity: 0.6;
}

html {
	background-image: url("Images/Beijing_Skyline.jpg");
	background-size: cover;
}

.links {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	border-width: 3px;
	border-color: grey;
}

#first {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}

#second {
	border-right-style: solid;
	border-left-style: solid;
}

#third {
	border-right-style: solid;
	border-left-style: solid;
}

#fourth {
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

li :hover {
	background-color: grey;
	color: white;
}