@charset "UTF-8";

html {
	background-image: url("../Images/Beijing_Skyline.jpg");
	background-size: cover;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	color: white;
	text-align: center;
	opacity: 0.7;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	opacity: 0.7;
	white-space: normal;
	word-wrap: normal;
}

.intro.paragraph {
	width: 700px;
}

.intro {
	display: inline-block;
	vertical-align: top;
}

.tabs {
	width: 200px;
	position: absolute;
	right: 10%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
	opacity: 0.7;
}

.links {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	border-width: 3px;
	border-color: grey;
}

#first {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
}

li :hover {
	background-color: grey;
	color: white;
}